.header{
    height: 50px;
    background-color: #4e4e4e;

    display: flex;
    align-items: center;
}


<<<<<<< HEAD
.header span{
    color: aquamarine;
}
=======
.header{
    background-color: skyblue;
}
>>>>>>> 8531d7248431e3fe6de93546d55fe319608ddf73
