.btn{
    /* 모든 버튼의 공통스타일 */
    padding: .4em .8em;    
    color: #fff;
    display: inline-flex;
    align-items: center;
    transition: background-color .5s;
}

.btn-ok{
    /* ok 버튼만의 특화된 스타일 */
    background-color: #434343;
    height: var(--radius);
}

.btn-ok:hover{
    background-color: #7e6c6c;
}

.btn-toggle{
    --radius:24px;
    background-color: gray;
    color:#434343;
    border: none;

    text-indent: -999px;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(var(--radius) * 2);
    height: var(--radius);
    /* border-radius: calc(var(--radius) / 2) 0px; */
    border-top-left-radius: calc(var(--radius) / 2);
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(var(--radius) / 2);
    border-bottom-right-radius: 0;
    
    position: relative;

    transition:all 1.5s;
}

.btn-toggle::before{
    content: 'hahaha';
    box-sizing: border-box;
    height: calc(var(--radius) - 4px);
    width: calc(var(--radius) - 4px);
    background-color: black;
    border-radius: calc((var(--radius) - 4px) / 2);
    text-indent: -999px;

    position: absolute;
    left:2px;

    transition: left 1.5s, top 0.5s;
}

.btn-toggle:hover,
.btn-toggle-on{
    background-color:#87f195;

    border-top-left-radius: 0;
    border-top-right-radius: calc(var(--radius) / 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: calc(var(--radius) / 2);
}

.btn-toggle-on::before{
    background-color:#55955e;

    left:24px;
}

.btn-cancel{

}

@media (min-width: 500px) {
    .btn-toggle-md{
        --radius:30px;
    }
}


@media (min-width: 800px) {
    
}